{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:cypress/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "cypress/globals": true
  },
  "plugins": [
    "prettier",
    "react",
    "react-hooks",
    "cypress",
    "chai-friendly"
  ],
  "overrides": [
    {
      "files": [
        "*.test.js",
        "*.spec.js"
      ],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-debugger": 0,
    "no-console": 0,
    "quotes": [
      "error",
      "double"
    ],
    "react/display-name": 0,
    "react/no-string-refs": 0,
    "react-hooks/rules-of-hooks": "error"
  }
}