{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "__DEV__": "readonly"
  },
  "env": {
    "es6": true
  },
  "plugins": [
    "react",
    "import",
    "react-hooks",
    "prettier",
    "jsx-a11y"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".jsx",
          ".js",
          ".tsx"
        ]
      }
    ],
    "import/extensions": [
      "error",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never",
        "json": "always"
      }
    ],
    "quotes": [
      "error",
      "double"
    ],
    "no-debugger": "warn",
    "no-console": "warn",
    "no-param-reassign": "error",
    "global-require": "off",
    "no-restricted-globals": "off",
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "react/display-name": "off",
    "react/no-string-refs": "off",
    "react/state-in-constructor": "off",
    "react/static-property-placement": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": {
        "directory": "."
      },
      "node": {
        "extensions": [
          ".ts",
          ".tsx",
          ".js",
          ".jsx"
        ]
      }
    }
  }
}
